# intellij project files #
##########################
*.iml
*.ipr
*.iws
*/target/*
sample-chat/target/*
scrumtable/target/*
tutorial-chat/target/*

android-client-sample/android-client/out/*
android-client-sample/android-client/.idea/*
android-client-sample/bristleback-app/target/*
android-client-sample/bristleback-app/.idea/*

# eclipse project files #
#########################
.project
.settings
.classpath
.springBeans
.externalToolBuilders