# intellij project files #
##########################
*.iml
*.ipr
*.iws
*/target/*
*/*/*/.idea/*
^*/.idea/*
sample-chat/target/*
scrumtable/target/*
tutorial-chat/target/*

# eclipse project files #
#########################
.project
.settings
.classpath
.springBeans
.externalToolBuilders

# android #
^*/out/*
*/out/*
**/out/*

^*/target/*
*/target/*
**/target/*
