body {
  background-color: #eeeeee;
  padding: 0;
  margin: 0;
  font-family: arial, serif;
  font-size: 1em;
}

ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
}

.bordered {
  border: #999999 1px solid;
}

#content {
  max-width: 1050px;
  min-height: 400px;
  margin: auto;
  padding: 30px;
  font-family: arial, serif;
  font-size: 0.9em;
  color: #222;
}

.b {
  font-weight: bold;
}

#afterLogInPane {
  display: none;
}

#chatFrame {
  width: 70%;
  float: left;
  height: 350px;
  overflow-y: auto;
  overflow-x: auto;

}

#messages {
  padding-left: 5px;
  padding-right: 5px;
}

#usersListContainer {
  width: 20%;
  float: left;
  padding-top: 1px;
  overflow-y: auto;
  overflow-x: auto;
  height: 354px;
}

.users {
  display: block;
  list-style-position: inside;
}

.users li {
  padding: 4px 2px 4px 10px;

}

.evenUser {
  background-color: #eeeeee;
}

.oddUser {
  background-color: #dddddd;
}

#messages li {
  margin-top: 3px;
  margin-bottom: 3px;
}

#messages li span {
  font-weight: bold;
}

#loginErrors {
  color: red;
}
