<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
        content="Java WebSocket Framework powered by Spring Framework. Fast and focused on business logic instead of low level WebSocket protocol details">
  <meta name="keywords"
        content="Websocket, Websockets, Java, JavaScript, Bristleback Framework, Bristleback server, Spring">
  <title>Java Websocket Framework - Bristleback</title>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <link rel="stylesheet" type="text/css" href="../css/highlighting.css">

  <script type="text/javascript">

  </script>

</head>

<body>

<header>
  <div id="headerDiv">
    <div id="logoDiv">
      <a href="index.html" id="logoLink">
        <img src="../img/bristleback-logo-green.png" alt="bristleback.pl">
      </a>

    </div>

    <div id="rightHeaderDiv">
      <div class="rightHeaderElement">
        <span class="fontOnDarkBackground b">Connection status: </span>
        <img id="statusIcon" src="../img/status-busy.png" alt="disconnected">
        <span id="connectionStatus" class="fontOnDarkBackground b">disconnected</span>
      </div>
      <div id="sourcesDiv" class="rightHeaderElement">
        <span class="fontOnDarkBackground b">Sources: </span>
        <a href="https://github.com/bristleback/bristleback-samples" class="classicLink fontOnDarkBackground b">Samples
          Git repo</a>
      </div>
    </div>
  </div>
</header>

<content>
  <div id="main">
    <div id="content">
      <div id="menuOuter">
        <h5>
          Menu
        </h5>
        <ul>

        </ul>
      </div>
      <div id=contentInner>
        {{ content }}
      </div>


    </div>
  </div>
</content>

<footer>
  © Copyright 2012-2013 <a href="http://bristleback.pl" class="classicLinkBold">Bristleback Framework</a>
</footer>

</body>

</html>
