<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
        content="Java WebSocket Framework powered by Spring Framework. Fast and focused on business logic instead of low level WebSocket protocol details">
  <meta name="keywords"
        content="Websocket, Websockets, Java, JavaScript, Bristleback Framework, Bristleback server, Spring">
  <title>Bristleback Websocket Framework Showcase</title>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <link rel="stylesheet" type="text/css" href="../css/tabStyles.css">
  <link rel="stylesheet" type="text/css" href="../css/highlighting.css">

  <script type="text/javascript" src="../js/jquery-2.0.0.min.js"></script>
  <script type="text/javascript" src="../js/jquery-ui.js"></script>
  <script type="text/javascript" src="../js/bristleback-0.3.0.js"></script>
  <script type="text/javascript" src="../js/bristleback-showcase.js"></script>
  <script type="text/javascript">
    $(function () {
      $("#tabs").tabs();
    });
  </script>

</head>

<body>

<header>
  <div id="headerDiv">
    <div id="logoDiv">
      <a href="index.html" id="logoLink">
        <img src="../img/bristleback-logo-green.png" alt="bristleback.pl">
      </a>

    </div>

    <div id="rightHeaderDiv">
      <div class="rightHeaderElement">
        <span class="fontOnDarkBackground b">Connection status: </span>
        <img id="statusIcon" src="../img/status-busy.png" alt="disconnected">
        <span id="connectionStatus" class="fontOnDarkBackground b">disconnected</span>
      </div>
      <div id="sourcesDiv" class="rightHeaderElement">
        <span class="fontOnDarkBackground b">Sources: </span>
        <a href="https://github.com/bristleback/bristleback-samples" class="classicLink fontOnDarkBackground b">Samples
          Git repo</a>
      </div>
    </div>
  </div>
</header>

<content>
  <div id="main">
    <div id="content">
      <div id="menuOuter">
        <h5 class="menuHeader">
          Configuration how to...
        </h5>
        <ol class="menuList">
          <li>
            <a href="index.html" class="classicLink">Create new web application using Maven Archetype</a>
          </li>
          <li>
            <a href="change_websocket_engine.html" class="classicLink">Change Websocket engine</a>
          </li>
          <li>
            <a href="change_configuration.html" class="classicLink">Change configuration</a>
          </li>
          <li>
            <a href="use_property_config_resolver.html" class="classicLink">Use Property file configuration</a>
          </li>
          <li>
            Change Http Handler Mappings
          </li>
        </ol>

        <h5 class="menuHeader">
          Code How to...
        </h5>
        <ol class="menuList" start="6">
          <li>
            Define and call action classes
          </li>
          <li>
            Define action without response
          </li>
          <li>
            Set action parameter as required
          </li>
          <li>
            Skip field serialization/deserialization
          </li>
          <li>
            Send server message using condition object sender
          </li>
          <li>
            Send server message using client action classes
          </li>
          <li>
            Use formatting in object serialization and deserialization
          </li>
          <li>
            Register custom user context
          </li>
          <li>
            Register custom user context factory
          </li>
          <li>
            Close connection
          </li>
          <li>
            Define user connection listener
          </li>
          <li>
            Define custom exception handler
          </li>
          <li>
            Define action interceptor
          </li>
          <li>
            Use JavaScript templates
          </li>
          <li>
            Create simple authentication system
          </li>
          <li>
            Perform authorization on action invoking
          </li>
        </ol>

      </div>

      {{ content }}


    </div>
  </div>
</content>

<footer>
  © Copyright 2012-2013 <a href="http://bristleback.pl" class="classicLinkBold">Bristleback Framework</a>
</footer>

</body>

</html>
